@model List<FlowerShop.ViewModels.ViewModelNews.ViewModelNews>

<div id="slider-box">

    <div id="pager"></div>
    <div id="pause">||</div>
    <div id="play">&Delta;</div>
    <div id="prev">&lang;</div>
    <div id="next">&rang;</div>


    <div class="slider">
        @foreach (var value in Model)
        {
            <div class="item">
                @Html.Raw(("<img src=\"data:image/jpeg;base64,"
                         + Convert.ToBase64String(value.ViewImage) + "\" />"))

                <div class="info">
                    <h1>@value.ViewTitle</h1>
                    <p>@value.ViewDescription</p>
                </div>
            </div>
        }
    </div>
</div>
