
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks</h2>

<p>Thanks for purchase! Please click <a href="@Url.Action("Index", "Shop")">here</a> to continue.</p>