
<div class="modal fade" id="myModal" role="dialog">
    <div class="row">
        <div class="modal-size">
            <div class="modal-dialog">
                <div class="modal-content">

                </div>
            </div>
        </div>
    </div>
</div>